@import url(https://fonts.googleapis.com/css?family=Lato);


@default-font-size: 13px;
@default-font-family: 'Lato';

body {
  font-size: @default-font-size;
  font-family: @default-font-family;
}

h1 {
  font-weight: bold;
  border-width: 1px;
  border-radius: 2px;
  border-style: dashed;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
