{
  "entries": {
    "myVar": {
      "classz": "java.lang.String",
      "obj": "value"
    }
  },
  "templateConfig": {
    "templateDirectories": [],
    "staticResourcesDirectories": []
  },
  "databaseManager": "com.github.tgiachi.ares.database.OrmDatabaseManager",
  "filesystemManager": "com.github.tgiachi.ares.engine.filesystem.FileSystemManager",
  "routes": {
    "staticRoutes": [
      {
        "urlMap": "/imgs/.*",
        "directory": "imgs/",
        "processorClass": ""
      },
      {
        "urlMap": "/css/.*",
        "directory": "less/",
        "processorClass": "com.github.tgiachi.ares.engine.processors.LessResourceProcessor"
      }
    ]
  },
  "authMap": {
    "loginAction": "authorize.doHomepage",
    "logoutAction": "authorize.doLogout",
    "loginPostAction": "authorize.doLoginPost",
    "loginJsonPostAction": "doLoginPostJson"
  }
}
